#navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 15%;
    height: 100%;
    background-color: black;
    margin: 5px;
    color: white
}

.notebooks {
    list-style: none;
    padding: 0;
}

.notebooks > div {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
