.notebook{
    display: flex;
    height: 100vh;
    width: 85%;
    margin: 0px;
    background-color:rgb(32, 32, 32)
}
.Note{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.Notebook-sidebar {
    width: 20%;
    padding: 20px;
}

.Notebook-sidebar-header{
    display: flex;
    justify-content: space-between
}

.Notebook-main{
    /* display: flex; */
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100%;
    width: 80%;
    padding: 20px;
    background-color:rgb(52, 51, 51)
}

.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content > p {
    border: 1px solid rgb(55, 54, 54);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
